{% load static %}
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-xs-12">
                <ul class="list-inline">
                    <li><i class="lni-phone"></i> +254 20 2001178</li>
                    <li><i class="lni-envelope"></i><a href="#" class="__cf_email__" style="display: inline;">consult@euronetworkinternational.services</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-7 col-xs-12">
                {% if not request.user.is_authenticated %}
                <div class="header-top-right float-right">
                    <a href="/signin" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                    <a href="/signup" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                </div>
                {% else %}
                <div class="header-top-right float-right">
                    <a href="/signout" class="header-top-button"><i class="lni-enter"></i> Logout </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img style="width: 50px !important;" src="{% static 'assets/img/logo.png' %}" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-center">
                <li class="nav-item dropdown {% if request.path == '/' %} active {% endif %}">
                    <a class="nav-link  dropdown-toggle" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classifieds">
                        Categories
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/dashboard">
                        Dashboard
                    </a>
                </li>
                {% endif %}
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        About Us
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/#services">
                        Services
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="contact.html">
                        Contact
                    </a>
                </li> -->
            </ul>
            <div class="post-btn">
                <a class="btn btn-common" href="/post"><i class="lni-pencil-alt"></i> Post an Ad</a>
            </div>
        </div>
    </div>
    <ul class="mobile-menu">
        <li>
            <a class="active" href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/category">Categories</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
            <a href="/dashboard">
                Dashboard
            </a>
        </li>
        {% endif %}
        <li>
            <a href="/#services">Services</a>
        </li>
    </ul>
</nav>