{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'common/header.html' %}
<body>
    <header id="header-wrap">
        {% include 'common/navbar.html' %}
        <div id="hero-area">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="contents-ctg">
                            <div class="search-bar">
                                <div class="search-inner">
                                    <form class="search-form">
                                        <div class="form-group inputwithicon">
                                            <i class="lni-target"></i>
                                            <div class="select">
                                                <select>
                                                    <option value="none">All Locations</option>
                                                    {% for city in locations %}
                                                        <option value="{{city.id}}">{{city.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group inputwithicon">
                                            <i class="lni-menu"></i>
                                            <div class="select">
                                                <select>
                                                    <option value="none">Select Categories</option>
                                                    {% for cat, sub_cat in sub_categories %}
                                                    <optgroup label="{{cat}}">
                                                        {% for sub in  sub_cat %}
                                                            <option value="{{sub.id}}">{{sub.name}}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-common" type="button"><i class="lni-search"></i> Search
                                            Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-container section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
                    <aside>
                        <div class="widget_search">
                            <form role="search" id="search-form">
                                <input type="search" class="form-control" autocomplete="off" name="s"
                                    placeholder="Search..." id="search-input" value="">
                                <button type="submit" id="search-submit" class="search-btn"><i
                                        class="lni-search"></i></button>
                            </form>
                        </div>
                        <div class="widget categories">
                            <h4 class="widget-title">All Categories</h4>
                            {% for cat, sub_cat in sub_categories %}
                                <div class="p-2 font-weight-bold text-capitalize font-italic text-dark">{{cat}}</div>
                                <ul class="categories-list">
                                {% for sub in sub_cat %}
                                    <li>
                                        <a href="/classifieds?category={{sub.id}}">
                                            <i class="lni-dinner"></i>
                                            {{sub.name}} <span class="category-counter">(0)</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-12 col-xs-12 page-content">
                    <div class="product-filter">
                        <div class="short-name">
                            <span>Showing (1 - 12 products of 7371 products)</span>
                        </div>
                        <div class="Show-item">
                            <span>Show Items</span>
                            <form class="woocommerce-ordering" method="post">
                                <label>
                                    <select name="order" class="orderby">
                                        <option selected="selected" value="menu-order">49 items</option>
                                        <option value="popularity">popularity</option>
                                        <option value="popularity">Average ration</option>
                                        <option value="popularity">newness</option>
                                        <option value="popularity">price</option>
                                    </select>
                                </label>
                            </form>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#list-view"><i
                                        class="lni-list"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="adds-wrapper">
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade active show">
                                <div class="row">
                                    {% for post in classifieds %}
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="featured-box">
                                            <figure>
                                                <!-- <span class="price-save">
                                                    30% Save
                                                </span> -->
                                                <!-- <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div> -->
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static post.media %}" alt="{{post.title}}">
                                                </a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="/post/info/{{post.id}}">{{post.title}}</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">
                                                    {{post.description|safe}}
                                                </p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">
                                                        {{post.price}}
                                                    </h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="list-view" class="tab-pane fade">
                                <div class="row">
                                    {% for post in classifieds %}
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="featured-box">
                                            <figure>
                                                <span class="price-save">
                                                    10% Save
                                                </span>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" src="assets/img/featured/img-1.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">Canon SX Powershot ...</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the industry.</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$249.00</h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-bar">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'common/footer.html' %}
</body>
</html>