{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'common/header.html' %}
<body>
    <header id="header-wrap">
        {% include 'common/navbar.html' %}
    </header>
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Forgot Password</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Forgot Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12 col-xs-12">
                    <div class="forgot login-area">
                        <h3>
                            Forgot Password
                        </h3>
                        <form role="form" class="login-form">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="icon lni-user"></i>
                                    <input type="text" id="sender-email" class="form-control" name="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-common log-btn">Send me my Password</button>
                            </div>
                            <div class="form-group mt-4">
                                <ul class="form-links">
                                    <li class="float-left"><a href="/signup">Don't have an account?</a></li>
                                    <li class="float-right"><a href="/signin">Back to Login</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'common/footer.html' %}
</body>
</html>